<div class="author">
    <h1 class="author-heading">Hi, I am Ahmad.</h1>
    <p class="author-body">A junior full-stack developer.</p>
  </div>
  
  <!-- CHANGE -->
  <img src="/img/alex-webb.jpg" alt="A person walking up a hill" class="alex-webb-image" width="981" height="528">
  
  <section class="articles">
    <h2 class="articles-heading">Latest Posts</h2>
  
    <ul class="article-ul">
        <li>
          <a href="=#">
            <span>Post Title</span>
            <span class="article-list-date">Date</span>
          </a>
        </li>
    </ul>
    <a href="#" class="pagination">&lt; View Older Posts</a>
  </section>